fastapi
uvicorn
python-multipart
openai
python-dotenv
pydantic
pydantic-settings
requests
httpx
paramiko
supabase
redis
asyncpg
greenlet
websockets

pytest

beautifulsoup4
fake-useragent

paramiko
cryptography
pyjwt
passlib
bcrypt==4.0.1
